{% extends 'layouts/base.html.twig' %}

{% block title %}My account -- change password{% endblock %}

{% block body %}
<div class="container my-4">
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    <h1>Edit your password</h1>
    {{ form_start(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
